<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DollMachine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63A7DEA81FCE6851001C31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63A7DEC01FCE6851001C31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63A7DECB1FCE6851001C31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
